/* MIXIN */
/* VARIABLES */
/* PLACEHOLDERS */
.desktop-nav .header-side a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  font-family: "miller-display", "times", "serif";
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}

.desktop-nav .header-side a:hover {
  color: #00BFFF;
}

.container, #contact .contact-under-nav {
  height: 100%;
  width: 100%;
}

#about .about-under-nav .about-alp-video {
  max-height: 100%;
  max-width: 100%;
}

#contact .contact-under-nav form input[type=text], #contact .contact-under-nav form input[type=email], #contact .contact-under-nav form textarea, #contact .contact-under-nav form button[type=submit] {
  width: 35rem;
  text-align: center;
  height: 7vh;
  margin: .5rem 0;
  font-size: 1.5rem;
  border: 6px solid #272525;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

/* CLIENT ANIMATION */
@-webkit-keyframes grow {
  0% {
    width: 75%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 75%;
  }
}
@keyframes grow {
  0% {
    width: 75%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 75%;
  }
}

/* SLIDES */
@-webkit-keyframes slow-slide {
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 1;
  }
}
@keyframes slow-slide {
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* NOTES DROPPING */
@-webkit-keyframes note-animation1 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 1;
  }
}
@keyframes note-animation1 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 1;
  }
}

@-webkit-keyframes note-animation2 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
    opacity: 1;
  }
}

@keyframes note-animation2 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
    opacity: 1;
  }
}

@-webkit-keyframes note-animation3 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
    opacity: 1;
  }
}

@keyframes note-animation3 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
    opacity: 1;
  }
}

@-webkit-keyframes note-animation4 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 1;
  }
}

@keyframes note-animation4 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    opacity: 1;
  }
}

@-webkit-keyframes note-animation5 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.7rem);
            transform: translateY(0.7rem);
    opacity: 1;
  }
}

@keyframes note-animation5 {
  25% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.7rem);
            transform: translateY(0.7rem);
    opacity: 1;
  }
}

/* FADES */
@-webkit-keyframes fade-out {
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-out {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* WHOLE PAGE */
html {
  font-size: 16px;
  overflow-y: hidden;
}

html body {
  width: auto;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* MOBILE SITE */
.mobile-nav {
  width: 100%;
  position: fixed;
  z-index: 2;
  display: none;
}

@media (max-width: 1200px) {
  .mobile-nav {
    display: block;
  }
}

.mobile-nav #myLinks {
  display: none;
  position: fixed;
  background-color: #262626;
  width: 100%;
  opacity: .7;
}

.mobile-nav #myLinks a {
  font-family: sans-serif;
  color: #00BFFF;
  font-size: 2rem;
  text-align: left;
  text-decoration: none;
  display: block;
  margin: 1rem;
}

.mobile-nav #nav-bar-image {
  margin: .5rem;
  right: 0;
  z-index: 5;
  position: fixed;
  width: 10vw;
}

.mobile-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 100%;
  height: 100%;
  margin: auto;
  display: none;
  scroll-snap-align: start;
  background-color: black;
}

@media (max-width: 1200px) {
  .mobile-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-home #mobile-logo {
  width: 80vw;
  margin-top: -10vh;
}

.mobile-home h2 {
  font-family: sans-serif;
  color: white;
  font-size: 8vw;
  text-align: center;
}

.mobile-home h1 {
  font-family: sans-serif;
  color: #00BFFF;
  font-size: 8vw;
  text-align: center;
}

/* DESKTOP SITE */
/* EACH PAGE */
.container {
  scroll-snap-align: start;
  overflow: hidden;
}

/* NAV BAR */
.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row center center;
          flex-direction: row center center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 100%;
  height: 7rem;
  margin: auto;
  position: relative;
  background-color: #262626;
  overflow: hidden;
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-image-source: linear-gradient(45deg, #262626, #009DD1, #00BFFF, #009DD1, #009DD1, #00BFFF, #009DD1, #262626);
  border-image-slice: 1;
}

@media (max-width: 1200px) {
  .desktop-nav {
    display: none;
  }
}

.desktop-nav .header-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 40vw;
}

@media (max-width: 1600px) {
  .desktop-nav .header-side a {
    font-size: 2rem;
  }
}

.desktop-nav .header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 20vw;
  height: auto;
  margin: 0 1.2rem 0 0;
}

.desktop-nav .header-center p {
  font-family: "miller-display", "times", "serif";
  color: white;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 2px;
  vertical-align: center;
}

.desktop-nav .header-center #logo-title {
  width: 21vw;
}

/* LIBRARY */
@media (max-width: 1200px) {
  #library {
    display: none;
  }
}

#library nav {
  z-index: 5;
}

.library-under-nav {
  height: calc(100% - 8rem);
  text-align: center;
}

.library-under-nav h1 {
  font-family: "miller-display", "times", "serif";
  color: #262626;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0 0 0;
  padding: 1rem 0;
  display: inline-block;
}

.library-under-nav .blue-text {
  font-family: "miller-display", "times", "serif";
  color: #009DD1;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.library-under-nav .blue-text:hover {
  color: #00BFFF;
}

.library-under-nav .animation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  position: relative;
  height: 15rem;
}

.library-under-nav .animation-box .white-bg-slide {
  position: absolute;
  width: 100%;
  height: 15rem;
  opacity: 1;
  z-index: 3;
  background-color: white;
  -webkit-animation: slow-slide 4s forwards;
          animation: slow-slide 4s forwards;
}

.library-under-nav .animation-box .staff {
  position: absolute;
  width: 60rem;
  height: 10rem;
  opacity: 1;
  z-index: 1;
}

.library-under-nav .animation-box .logo-notes {
  position: absolute;
  width: 60rem;
  height: 10rem;
  opacity: 1;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  position: relative;
}

.library-under-nav .animation-box .logo-notes .logo {
  width: 16rem;
}

.library-under-nav .animation-box .logo-notes #note1 {
  left: 18rem;
  width: 5rem;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  position: absolute;
  opacity: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
  cursor: pointer;
  -webkit-animation: note-animation1 3s .5s forwards;
          animation: note-animation1 3s .5s forwards;
}

.library-under-nav .animation-box .logo-notes #note1:hover {
  width: 6rem;
}

.library-under-nav .animation-box .logo-notes #note2 {
  left: 26rem;
  width: 5rem;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  position: absolute;
  opacity: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
  cursor: pointer;
  -webkit-animation: note-animation2 3s 1s forwards;
          animation: note-animation2 3s 1s forwards;
}

.library-under-nav .animation-box .logo-notes #note2:hover {
  width: 6rem;
}

.library-under-nav .animation-box .logo-notes #note3 {
  left: 34rem;
  width: 5rem;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  position: absolute;
  opacity: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
  cursor: pointer;
  -webkit-animation: note-animation3 3s 1.5s forwards;
          animation: note-animation3 3s 1.5s forwards;
}

.library-under-nav .animation-box .logo-notes #note3:hover {
  width: 6rem;
}

.library-under-nav .animation-box .logo-notes #note4 {
  left: 42rem;
  width: 5rem;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  position: absolute;
  opacity: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
  cursor: pointer;
  -webkit-animation: note-animation4 3s 2s forwards;
          animation: note-animation4 3s 2s forwards;
}

.library-under-nav .animation-box .logo-notes #note4:hover {
  width: 6rem;
}

.library-under-nav .animation-box .logo-notes #note5 {
  left: 50rem;
  width: 5rem;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  position: absolute;
  opacity: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
  cursor: pointer;
  -webkit-animation: note-animation5 3s 3s forwards;
          animation: note-animation5 3s 3s forwards;
}

.library-under-nav .animation-box .logo-notes #note5:hover {
  width: 6rem;
}

.library-under-nav .below-animation {
  position: relative;
}

.library-under-nav .below-animation .white-bg-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 3;
  background-color: white;
  -webkit-animation: slow-slide 3s 5s forwards;
          animation: slow-slide 3s 5s forwards;
}

.library-under-nav .below-animation p {
  font-family: "forma-djr-display", sans-serif;
  color: #262626;
  font-size: 1.5rem;
  text-align: center;
  width: auto;
  height: 2rem;
  margin: 0;
}

.library-under-nav .below-animation p img {
  width: 1.5rem;
}

.library-under-nav .below-animation .song-information {
  width: 40rem;
  height: 3rem;
  margin: 1rem auto 2rem auto;
  text-align: center;
}

.library-under-nav .below-animation .song-information p {
  padding-top: 1rem;
  display: inline-block;
}

.library-under-nav .below-animation .song-information #song-switch-title {
  font-family: "forma-djr-display", sans-serif;
  color: #009DD1;
  font-size: 1rem;
  text-align: center;
  margin-right: 1rem;
}

.library-under-nav .below-animation .song-information #song-switch-album {
  font-family: "forma-djr-display", sans-serif;
  color: #009DD1;
  font-size: 1rem;
  text-align: center;
  margin: 0 1rem;
}

.library-under-nav .below-animation .music-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 50rem;
  height: 3rem;
  margin: auto;
}

.library-under-nav .below-animation .music-player .icons {
  width: 3rem;
  opacity: .5;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  margin-right: 1rem;
}

.library-under-nav .below-animation .music-player .icons:hover {
  opacity: 1;
}

.library-under-nav .below-animation .music-player #pause {
  display: block;
}

.library-under-nav .below-animation .music-player #play {
  display: none;
}

.library-under-nav .below-animation .music-player #mute {
  display: none;
}

.library-under-nav .below-animation .music-player #volume {
  display: block;
}

.library-under-nav .below-animation .music-player .slide-container {
  width: 10rem;
}

.library-under-nav .below-animation .music-player .slide-container .slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background: transparent;
  height: 2rem;
}

.library-under-nav .below-animation .music-player .slide-container input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: .5rem;
  border-radius: 5px;
  background: #00BFFF;
  opacity: .7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.library-under-nav .below-animation .music-player .slide-container input[type=range]::-webkit-slider-runnable-track:hover {
  opacity: 1;
}

.library-under-nav .below-animation .music-player .slide-container input[type=range]::-ms-track {
  width: 100%;
  height: .5rem;
  border-radius: 5px;
  background: #00BFFF;
  opacity: .7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.library-under-nav .below-animation .music-player .slide-container input[type=range]::-webkit-slider-thumb {
  width: 1.5rem;
  height: 1.5rem;
  margin: -0.5rem 0 0 0;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 50%;
  background: #009DD1;
  cursor: pointer;
}

.library-under-nav .below-animation .music-player .slide-container input[type=range]::-ms-thumb {
  margin-top: 0;
}

/* APP */
.app-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  position: relative;
  height: calc(100% - 8rem);
  overflow: hidden;
}

@media (max-width: 1200px) {
  .app-background {
    height: 100%;
  }
}

.app-background #box-logo {
  width: 45%;
  opacity: .1;
}

@media (max-width: 1200px) {
  .app-background #box-logo {
    width: 90%;
  }
}

.app-under-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 100%;
  height: calc(100% - 10rem);
  margin: auto;
  position: absolute;
}

@media (max-width: 1200px) {
  .app-under-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

.app-under-nav .app-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  margin: 0 15rem 2rem 0;
  text-align: center;
}

@media (max-width: 1200px) {
  .app-under-nav .app-container {
    width: 100%;
    height: 40%;
    margin: -10vh 0 0 0;
  }
}

.app-under-nav .app-container .text-box {
  display: inline-block;
}

.app-under-nav .app-container h2 {
  font-family: "miller-display", "times", "serif";
  color: #262626;
  font-size: 2.5vw;
  text-align: center;
  margin: 0 0 2rem 0;
  display: inline-block;
}

@media (max-width: 1200px) {
  .app-under-nav .app-container h2 {
    font-family: sans-serif;
    color: #262626;
    font-size: 6vw;
    text-align: center;
  }
}

.app-under-nav .app-container .for-app-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .app-under-nav .app-container .for-app-mobile {
    font-family: sans-serif;
    color: #262626;
    font-size: 6vw;
    text-align: center;
    display: block;
  }
}

.app-under-nav .app-container #blue-text2 {
  font-family: "miller-display", "times", "serif";
  color: #009DD1;
  font-size: 2.5vw;
  text-align: center;
}

@media (max-width: 1200px) {
  .app-under-nav .app-container #blue-text2 {
    font-family: sans-serif;
    color: #00BFFF;
    font-size: 6vw;
    text-align: center;
  }
}

.app-under-nav .app-container p {
  font-family: "forma-djr-display", sans-serif;
  color: #262626;
  font-size: 1.5vw;
  text-align: center;
  margin: 0;
}

@media (max-width: 1200px) {
  .app-under-nav .app-container p {
    font-family: sans-serif;
    color: #262626;
    font-size: 4.5vw;
    text-align: center;
  }
}

.app-under-nav .app-container #blue-text {
  font-family: "forma-djr-display", sans-serif;
  color: #009DD1;
  font-size: 1.5vw;
  text-align: center;
  margin: 0 0 2rem 0;
}

@media (max-width: 1200px) {
  .app-under-nav .app-container #blue-text {
    font-family: sans-serif;
    color: #00BFFF;
    font-size: 4.5vw;
    text-align: center;
  }
}

.app-under-nav .app-container .app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}

.app-under-nav .app-container .app-links img {
  width: 13rem;
  margin: 1rem;
  border-radius: 1vw;
}

@media (max-width: 1200px) {
  .app-under-nav .app-container .app-links img {
    width: 30vw;
  }
}

.app-under-nav .app-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  position: relative;
}

@media (max-width: 1200px) {
  .app-under-nav .app-container2 {
    display: none;
  }
}

.app-under-nav .app-container2 #app-screen {
  width: 17vw;
}

/* APP SCREEN ANIMATION */
.app-visible {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.slide {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 1;
}

/* ABOUT */
#about {
  background-color: black;
}

#about .mobile-title {
  margin-left: 1rem;
  display: none;
  font-family: sans-serif;
  color: #00BFFF;
  font-size: 5vw;
  text-align: center;
}

@media (max-width: 1200px) {
  #about .mobile-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#about .about-under-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 100vw;
  height: calc(100% - 10rem);
  margin: auto;
  background-color: black;
}

@media (max-width: 1200px) {
  #about .about-under-nav {
    height: 100%;
  }
}

#about .about-under-nav .about-alp-video {
  outline: none;
}

@media (max-width: 1200px) {
  #about .about-under-nav .about-alp-video {
    display: none;
  }
}

#about .about-under-nav .about-alp-video-portrait {
  width: 100%;
  margin-bottom: 20vh;
  display: none;
}

@media (max-width: 1200px) {
  #about .about-under-nav .about-alp-video-portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* CLIENTS */
#clients .mobile-title {
  margin-left: 1rem;
  display: none;
  font-family: sans-serif;
  color: #00BFFF;
  font-size: 5vw;
  text-align: center;
}

@media (max-width: 1200px) {
  #clients .mobile-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#clients .clients-under-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 100%;
  height: calc(100% - 8rem);
  margin: auto;
  overflow: hidden;
}

@media (max-width: 1200px) {
  #clients .clients-under-nav {
    height: 100vh;
  }
}

#clients .clients-under-nav #client-pic {
  width: 75%;
  -webkit-transition: width 1s;
  transition: width 1s;
}

@media (max-width: 1200px) {
  #clients .clients-under-nav #client-pic {
    display: none;
  }
}

#clients .clients-under-nav .client-grow {
  -webkit-animation-name: grow;
          animation-name: grow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

#clients .clients-under-nav #client-pic-small {
  display: none;
  width: 100%;
  margin-bottom: 20vh;
}

@media (max-width: 1200px) {
  #clients .clients-under-nav #client-pic-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* TEAM */
@media (max-width: 1200px) {
  #team {
    background-color: black;
  }
}

#team .mobile-title {
  margin-left: 1rem;
  display: none;
  font-family: sans-serif;
  color: #00BFFF;
  font-size: 5vw;
  text-align: center;
}

@media (max-width: 1200px) {
  #team .mobile-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#team .mobile-team {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: black;
  position: relative;
  overflow-y: hidden;
  max-height: 100vh;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: none;
}

@media (max-width: 1200px) {
  #team .mobile-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
}

#team .mobile-team .m-team-pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 100%;
  height: auto;
  margin: -10vh 0 0 0;
  scroll-snap-align: start;
  pointer-events: none;
  min-width: 100%;
  max-height: 100%;
}

#team .mobile-team .m-team-pic-container .m-team-pic {
  width: 75%;
}

#team .mobile-team .m-team-pic-container p {
  font-family: sans-serif;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

#team .full-team-under-nav {
  display: block;
}

@media (max-width: 1200px) {
  #team .full-team-under-nav {
    display: none;
  }
}

#team .full-team-under-nav .learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  width: 100%;
  height: 8vh;
  margin: 0;
  font-family: "miller-display", "times", "serif";
  color: #262626;
  font-size: 1vw;
  text-align: center;
}

#team .full-team-under-nav .learn-more .blue-text {
  color: #009DD1;
}

#team .full-team-under-nav .team-under-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 75%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

#team .full-team-under-nav .team-under-nav .team-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}

#team .full-team-under-nav .team-under-nav .team-photo-container #darrell-animation, #team .full-team-under-nav .team-under-nav .team-photo-container #nick-animation, #team .full-team-under-nav .team-under-nav .team-photo-container #dave-animation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

#team .full-team-under-nav .team-under-nav .team-photo-container #darrell-animation #darrell, #team .full-team-under-nav .team-under-nav .team-photo-container #darrell-animation #nick, #team .full-team-under-nav .team-under-nav .team-photo-container #darrell-animation #dave, #team .full-team-under-nav .team-under-nav .team-photo-container #nick-animation #darrell, #team .full-team-under-nav .team-under-nav .team-photo-container #nick-animation #nick, #team .full-team-under-nav .team-under-nav .team-photo-container #nick-animation #dave, #team .full-team-under-nav .team-under-nav .team-photo-container #dave-animation #darrell, #team .full-team-under-nav .team-under-nav .team-photo-container #dave-animation #nick, #team .full-team-under-nav .team-under-nav .team-photo-container #dave-animation #dave {
  width: 24.2vw;
  height: auto;
  margin: 0 1em;
  cursor: pointer;
  max-width: 100%;
}

#team .full-team-under-nav .team-under-nav .team-photo-container #darrell-animation .name, #team .full-team-under-nav .team-under-nav .team-photo-container #nick-animation .name, #team .full-team-under-nav .team-under-nav .team-photo-container #dave-animation .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  font-family: "forma-djr-display", sans-serif;
  color: #262626;
  font-size: 1.8vw;
  text-align: center;
}

#team .full-team-under-nav .team-under-nav .team-photo-container .blue-text {
  font-family: "miller-display", "times", "serif";
  color: #009DD1;
  font-size: 1.8vw;
  text-align: center;
  font-style: italic;
  margin: 0;
}

#team .full-team-under-nav .team-under-nav .team-photo-container #darrell-info, #team .full-team-under-nav .team-under-nav .team-photo-container #nick-info, #team .full-team-under-nav .team-under-nav .team-photo-container #dave-info {
  font-family: "forma-djr-display", sans-serif;
  color: #262626;
  font-size: 1.8vw;
  text-align: center;
  width: 40rem;
  max-width: 50vw;
  max-height: 20vw;
}

#team .full-team-under-nav .team-under-nav .team-photo-container #darrell-info .blue-text, #team .full-team-under-nav .team-under-nav .team-photo-container #nick-info .blue-text, #team .full-team-under-nav .team-under-nav .team-photo-container #dave-info .blue-text {
  font-family: "forma-djr-display", sans-serif;
  color: #009DD1;
  font-size: 1.8vw;
  text-align: center;
  margin: 0;
  display: inline-block;
}

#team .full-team-under-nav .team-under-nav .team-photo-container .hidden {
  display: none;
}

/* Contact */
#contact .mobile-title {
  margin-left: 1rem;
  display: none;
  font-family: sans-serif;
  color: #00BFFF;
  font-size: 5vw;
  text-align: center;
}

@media (max-width: 1200px) {
  #contact .mobile-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1200px) {
  #contact .contact-under-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
}

#contact .contact-under-nav form {
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  #contact .contact-under-nav form {
    font-family: sans-serif;
  }
}

#contact .contact-under-nav form label {
  margin: 0;
  font-family: "miller-display", "times", "serif";
}

@media (max-width: 1200px) {
  #contact .contact-under-nav form label {
    font-family: sans-serif;
  }
}

#contact .contact-under-nav form input[type=text]:focus {
  border: #00BFFF 6px solid;
}

@media (max-width: 1200px) {
  #contact .contact-under-nav form input[type=text] {
    width: 75vw;
    height: 2rem;
  }
}

#contact .contact-under-nav form input[type=email]:focus {
  border: #00BFFF 6px solid;
}

@media (max-width: 1200px) {
  #contact .contact-under-nav form input[type=email] {
    width: 75vw;
    height: 2rem;
  }
}

#contact .contact-under-nav form textarea {
  height: 15vh;
}

#contact .contact-under-nav form textarea:focus {
  border: #00BFFF 6px solid;
}

@media (max-width: 1200px) {
  #contact .contact-under-nav form textarea {
    width: 75vw;
    height: 8rem;
  }
}

#contact .contact-under-nav form button[type=submit] {
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 9px 0px;
          box-shadow: 0px 8px 9px 0px;
  width: 15rem;
  margin: .5rem 0 1rem 0;
  background-color: white;
}

#contact .contact-under-nav form button[type=submit]:hover {
  background-color: #00BFFF;
}

#contact .contact-under-nav form button[type=submit]:active {
  margin-top: 1rem;
  margin-bottom: .5rem;
  -webkit-box-shadow: 0px 0px;
          box-shadow: 0px 0px;
}

@media (max-width: 1200px) {
  #contact .contact-under-nav form button[type=submit] {
    height: 4rem;
  }
}

#contact .contact-under-nav .links {
  text-align: center;
}

@media (max-width: 1200px) {
  #contact .contact-under-nav .links {
    margin-bottom: 10vh;
  }
}

#contact .contact-under-nav .links .small-link {
  display: inline-block;
  width: 5rem;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 1vw;
}

@media (max-width: 1200px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar-track {
  background: #b4b4b4;
}

@media (max-width: 1200px) {
  ::-webkit-scrollbar-track {
    display: none;
  }
}

::-webkit-scrollbar-thumb {
  background: #009DD1;
}

::-webkit-scrollbar-thumb:hover {
  background: #00BFFF;
}

@media (max-width: 1200px) {
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */