@import "helper/mixins";
@import "helper/place-val";
@import "helper/animations";

// Whole page

html {
    font-size: 16px;
    overflow-y: hidden;

    body { 
        @include size-position(auto, 100vh, 0);
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth; 
        
        .container {   
            scroll-snap-align: start;
            overflow: hidden;
            height: calc(var(--vh, 1vh) * 100);
        }
    }
}

// Mobile nav

.mobile-nav {
    @include size-position(100%, auto, auto, fixed);
    z-index: 2;
    display: none;
    @include for-size(phone-only) { display: block; }
    
    #myLinks {
        @include size-position(100%, auto, auto, fixed);
        display: none;
        background-color: $main-text-color;
        opacity: .7;

        a {
            @include font-style(sans-serif, $alp-color, 2rem, left);
            text-decoration: none;
            display: block;
            margin: 1rem;
        }
    }

    #nav-bar-image { 
        @include size-position(10vw, auto, .5rem, fixed);
        right: 0;
        z-index: 5;
    }

    .fall-down { animation: fall-down 1s forwards; }

}

// Desktop nav

#library nav { z-index: 5; }

.desktop-nav {
    @include flex-box(row center center);
    @include size-position(100%, 7rem, auto, relative);
    border: {
        top: 10px solid;
        bottom: 10px solid;
        image-source: linear-gradient(45deg, $main-text-color, $alp-contrast, $alp-color, $alp-contrast, $alp-contrast, $alp-color, $alp-contrast, $main-text-color);
        image-slice: 1;
    }
    background-color: $main-text-color;
    overflow: hidden;
    @include for-size(phone-only) {
        display: none;
    }

    .header-side {
        @include flex-box(initial, center, center);
        width: 40vw;

        a { @extend %header-links;
            @include for-size(tablet-down1) { font-size: 2rem; }    
            @include for-size(tablet-down2) { font-size: 1.5rem; }
        }
    }
    
    .header-center { 
        @include flex-box(initial, center, center);
        @include size-position(20vw, auto, 0 1.2rem 0 0 );
            
        p {
            @include font-style($main-font, white, 4rem);
            letter-spacing: 2px;
            vertical-align: center;
        }

        #logo-title { 
            width: 21vw;
        }
    }
}

// HOMEPAGE

#library {

// Mobile Homepage

.mobile-home-full { 
    @include flex-box(column, center, center); 
    background-color: black;
    @extend %full;
    display: none;
    @include for-size(phone-only) { display: flex; }

    #mobile-logo { width: 80vw; }

    h2 { 
        @include font-style(sans-serif, white, 8vw); 
        opacity: 0;
        margin: 0 0 2rem 0;
    }

    h1 { 
        @include font-style(sans-serif, $alp-color, 8vw); 
        opacity: 0;
        margin: 0;
    }

.mob-t1-ani { animation: fade-in 1s .5s forwards; }
.mob-t2-ani { animation: fade-in 1s 1s forwards; }
.mob-t3-ani { animation: fade-in 1s 1.5s forwards; }
}

// Desktop Homepage
        
.library-under-nav { 
    height: calc(100% - 8rem);
    text-align: center;
    @include for-size(phone-only) { display: none; }

    h1 {
        @include font-style($main-font, $main-text-color, 1.5rem); 
        margin: 1rem 0 0 0;
        padding: 1rem 0;
        display: inline-block;
    }

    .blue-text { 
        &:hover { color: $alp-color; }
        @include font-style($main-font, $alp-contrast, 1.5rem);
        text-decoration: none;
        transition: color 1s;
    }

    .animation-box {
        @include size-position(auto, 15rem, auto, relative);
        @include flex-box(initial, center, center);

        .white-bg-slide {
            @include animation-pos(100%, 15rem, 1, 3);
            background-color: $background-color;
            animation: slow-slide 4s forwards;
        }

        .staff { @include animation-pos(60rem, auto, 1, 1); }

        .logo-notes { 
            @include animation-pos(60rem, 10rem, 1, 2);
            @include flex-box(row, initial, center);
            position: relative;

            .logo { width: 16rem; }

            #note1 { 
                    @include note-style(18rem);
                    animation: note-animation1 3s .5s forwards; }

            #note2 { 
                    @include note-style(26rem); 
                    animation: note-animation2 3s 1s forwards; }

            #note3 { 
                    @include note-style(34rem);
                    animation: note-animation3 3s 1.5s forwards; }

            #note4 { 
                    @include note-style(42rem); 
                    animation: note-animation4 3s 2s forwards; }

            #note5 { 
                    @include note-style(50rem);
                    animation: note-animation5 3s 3s forwards; }
            }
        }

    .below-animation { position: relative; 

        .white-bg-slide {
            @include animation-pos(100%, 100%, 1, 3);
            background-color: $background-color;
            animation: slow-slide 3s 5s forwards;
        }
        
        p {
            @include font-style($secondary-font, $main-text-color, 1.5rem);
            @include size-position(auto, 2rem, 0);

            img { width: 1.5rem; }
        }

        .song-information {
            @include size-position(40rem, 3rem, 1rem auto 2rem auto);
            text-align: center;

            p { 
                padding-top: 1rem; 
                display: inline-block;
            }

            #song-switch-title {
                @include font-style($secondary-font, $alp-contrast, 1rem);
                margin-right: 1rem;
            }

            #song-switch-album {
                @include font-style($secondary-font, $alp-contrast, 1rem);
                margin: 0 1rem;
            }
        }
        
        .music-player { 
            @include flex-box (initial, center, center);
            @include size-position(50rem, 3rem);

            .icons {
                &:hover { opacity: 1; }
                @include size-position (3rem, auto, 0 1rem 0 0);
                opacity: .5;
                transition: opacity .5s;
            }

                #pause { display: block; }
                #play { display: none; }
                #mute { display: none; }
                #volume { display: block; }
            
            .slide-container {
                width: 10rem;

                .slider {
                    @include size-position(100%, 2rem);
                    appearance: none;
                    background: transparent;
                }

                input[type=range]::-webkit-slider-runnable-track {
                    &:hover { opacity: 1; }
                    @include size-position(100%, .5rem);
                    border-radius: 5px;
                    background: $alp-color;
                    opacity: .7;
                    transition: opacity .2s;
                }

                input[type=range]::-ms-track {
                    @include size-position(100%, .5rem);
                    border-radius: 5px;
                    background: $alp-color;
                    opacity: .7;
                    transition: opacity .2s;
                }

                input[type=range]::-webkit-slider-thumb {
                    @include size-position(1.5rem, 1.5rem, -.5rem 0 0 0);
                    appearance: none;
                    border-radius: 50%;
                    background: $alp-contrast;
                    cursor: pointer;   
                }

                input[type=range]::-ms-thumb {
                    margin-top: 0;
                }
            }
        }
    }
}
}

/* APP PAGE */

#app {
// MOBILE APP

.app-background-m {
    @include flex-box(initial, center, center);
    @include size-position(auto, 100%, auto, relative);
    overflow: hidden;
    display: none;
    @include for-size(phone-only) { display: flex; }

    #box-logo-m {
        @include size-position(100%, auto, auto, absolute);
        opacity: .1;
        display: none;
        @include for-size(phone-only) { display: flex; }
    }
}

.mobile-app-full {  
    @include flex-box(column, center, center); 
    @extend %full;
    background-color: white;
    display: none;
    @include for-size(phone-only) { display: flex; }

    .app-container {
        @include flex-box(column, center, center);
        @include size-position(100%, 100%,);
        text-align: center;

        .text-box { display: inline-block; }
 
            h2  { 
                @include font-style(sans-serif, $main-text-color, 6vw);
                margin: 0 0 2rem 0; 
                display: inline-block;
            }

            .for-app-mobile { @include font-style(sans-serif, $main-text-color, 6vw); }

            #blue-text2 {
                @include font-style($main-font, $alp-contrast, 2.5vw);
                @include for-size(phone-only) { @include font-style(sans-serif, $alp-color, 6vw); }
            }

            p { @include font-style(sans-serif, $main-text-color, 4.5vw); margin: 0; }
        
            #blue-text { 
                @include font-style(sans-serif, $alp-color, 4.5vw); 
                margin: 0 0 2rem 0;
        }

        .app-links { @include flex-box(row, center, center);

            img { 
                @include size-position(30vw, auto, 1rem,);
                border-radius: 1vw;
             }
        }
    }
}

// DESKTOP APP PAGE

.app-background {
    @include flex-box(initial, center, center);
    @include size-position(auto, calc(100% - 8rem), auto, relative);
    overflow: hidden;
    @include for-size(phone-only) { display: none; }

    #box-logo {
        @include size-position(45%, auto, auto, absolute);
        opacity: .1;
        @include for-size(phone-only) { display: none; }
    }
}

.app-under-nav {
    @include flex-box(row, center, center);
    @include size-position(100%, calc(100% - 10rem), auto, absolute);
    @include for-size(phone-only) { display: none; }

    .app-container {
        @include flex-box(column, center, center);
        @include size-position(auto, auto, 0 15rem 2rem 0, relative);
        text-align: center;

        .text-box { display: inline-block; }
 
            h2  { 
                @include font-style($main-font, $main-text-color, 2.5vw);
                margin: 0 0 2rem 0; 
                display: inline-block;
            }

            #blue-text2 { @include font-style($main-font, $alp-contrast, 2.5vw); }

            p { 
                @include font-style($secondary-font, $main-text-color, 1.5vw); 
                margin: 0;
            }
        
            #blue-text { 
                @include font-style($secondary-font, $alp-contrast, 1.5vw); 
                margin: 0 0 2rem 0;
        }

        .app-links { @include flex-box(row, center, center);

            img { 
                @include size-position(13rem, auto, 1rem);
                border-radius: 1vw;
             }
        }
    }
    
    .app-container2 {
        @include flex-box(initial, center, center);
        position: relative;

        #app-screen { width: 17vw; }
    }
}

.app-visible { opacity:0; transition: opacity 1s; }
.slide { animation: slide 1s; opacity: 1; }
}

/* ABOUT */

#about {

    .mobile-about-full {
        @include flex-box(column, center, center); 
        background-color: black;
        @extend %full;
        display: none;
        @include for-size(phone-only) { display: flex; }

        .mobile-title {
            @include font-style(sans-serif, $alp-color, 5vw, left);
            margin-left: 1rem;
            align-self: start;
        }

        .about-alp-video-portrait {
            @include size-position(100%, 75%);
            display: none;
            @include for-size(phone-only) { display: block; }
        }
    }

    .about-under-nav {
        @include flex-box(column, center, center);
        @include size-position(100%, calc(100% - 10rem), auto);
        background-color: black;
        @include for-size(phone-only) { display: none; height: 100%; }

        .about-alp-video {
            @extend %max;
            outline: none;
        }
    }
}

/* CLIENTS */

#clients {

//Mobile Clients Page

.mobile-clients-full { 
        @include flex-box(column, center, center); 
        background-color: white;
        @extend %full;
        display: none;
        position: relative;
        @include for-size(phone-only) { display: flex; }

    .mobile-title {
        @include font-style(sans-serif, $alp-contrast, 5vw, left);
        margin-left: 1rem;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    #client-pic-small {
        width: 100%;
    }
}


// Desktop Clients Page 

    .clients-under-nav {
        @include flex-box(initial, center, center);
        @include size-position(100%, calc(100% - 8rem), auto);
        overflow: hidden;
        @include for-size(phone-only) {display: none; }

    #client-pic {
        width: 75%;
        transition: width 1s;
        @include for-size(phone-only) { display: none; }
    }
}

.client-grow { animation: grow 2s; }

}

/* TEAM */

#team {

.mobile-team-full {
    @include flex-box(column, center, center); 
    background-color: black;
    @extend %full;
    display: none;
    @include for-size(phone-only) { display: flex; }

.mobile-title {
    @include font-style(sans-serif, $alp-color, 5vw, left);
    margin-left: 1rem;
    display: none;
    align-self: start;
    @include for-size(phone-only) { display: flex; }
}

#team-title {
    @include font-style(sans-serif, white, 1rem);
    margin: 0;
    display: none;
    @include for-size(phone-only) { display: block; }
}

.mobile-team {
    @include size-position(100%, 100%, auto, relative);
    background-color: black;
    overflow-y: hidden;
    max-height: 100vh;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: none;
    @include for-size(phone-only) { @include flex-box(initial, initial, center); }

    .m-team-pic-container {
        @include flex-box(column, center, center);
        @include size-position(100%, auto, 0 0 0 0);
        scroll-snap-align: start;
        pointer-events: none;
        min-width: 100%;
        max-height: 100%;

    .m-team-pic { width: 75%; }

    .m-team-pic-small { width: 50%; display: none; }

    .mob-name-container {
        @include flex-box(row, center, center);

        .circle-right { @include size-position(10vw, auto, 0 0 0 1rem) }
        .circle-left { @include size-position(10vw, auto, 0 1rem 0 0) }
    }

    .mob-hidden { 
        @include flex-box(row, center, center);
        margin: 0 2rem;
        display: none;
    }

        p { @include font-style(sans-serif, white, 1rem); }
    }
}
}

.full-team-under-nav { 
    display: block;
    @include for-size(phone-only) { display: none; }
     
    .learn-more {
        @include flex-box(row, center, center);
        @include size-position(100%, 8vh, 0);
        @include font-style($main-font, $main-text-color, 1vw);

        .blue-text { color: $alp-color; }
    }

    .team-under-nav {
        @include flex-box(column, center, center, nowrap);
        @include size-position(100%, 75%, auto, relative);
        overflow: hidden;

        .team-photo-container { @include flex-box(row, center, center);
            
            #darrell-animation, #nick-animation, #dave-animation {
                flex-direction: column;
                min-height: 100%;
            
                #darrell, #nick, #dave  { 
                    @include size-position(24.2vw, auto, 0 1em);
                    cursor: pointer;
                    max-width: 100%;
                }

                .name { 
                    @include flex-box(row, center, center);
                    @include font-style($secondary-font, $main-text-color, 1.8vw); }
            }
                
                .blue-text {
                    @include font-style($main-font, $alp-color, 1.8vw);
                    font-style: italic;
                    margin: 0; 
                }

            #darrell-info, #nick-info, #dave-info {
                @include font-style($secondary-font, $main-text-color, 1.8vw);
                width: 40rem;
                max-width: 50vw;
                max-height: 20vw;

                .blue-text { 
                    @include font-style($secondary-font, $alp-color, 1.8vw);
                    margin: 0;
                    display: inline-block;
                }
            }
            
            .hidden { display: none; }
            }
        }
    }
}

/* Contact */

#contact {

    .contact-under-nav { 
        @extend %full; 
        @include for-size(phone-only) {         
            @include flex-box(column, center, center); 
            background-color: white;
            position: relative;
        }

    .mobile-title {
        @include font-style(sans-serif, $alp-contrast, 5vw, left);
        margin-left: 1rem;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        @include for-size(phone-only) { display: block; }
        }

        form { 
            @include font-style($main-font, $main-text-color, 1.5rem);
            @include for-size(phone-only) { font-family: sans-serif; };

            label {
                margin: 0;
                @include for-size(phone-only) { font-family: sans-serif; };
            }

            input[type=text] {
                &:focus { border: $contact-border }
                @extend %form-param;
                @include for-size(phone-only) { width: 75vw; height: 2rem; }
            }

            input[type=email] {
                &:focus { border: $contact-border }
                @extend %form-param;
                @include for-size(phone-only) { width: 75vw; height: 2rem; }
            }

            textarea {    
                &:focus { border: $contact-border }             
                @extend %form-param; 
                height: 8rem;
                @include for-size(phone-only) { width: 75vw; height: 7rem; }
            }

            button[type=submit] {
                &:hover { background-color: $alp-color; }
                &:active { margin: 1rem 0 .5rem 0; box-shadow: 0px 0px; }
                @include size-position(15rem, 4vw, .5rem 0 1rem 0);
                @extend %form-param;
                cursor: pointer;
                font-size: 1.5rem;
                border-radius: 10px;
                background-color: white;
                @include for-size(phone-only) { height: 4rem; }
            }
        }

        .links { 
            text-align: center;
            
            .small-link {
                display: inline-block;
                width: 5vw;
                @include for-size(phone-only) { width: 10vw; }
            }
        }
    }
}

/* Scrollbar */

::-webkit-scrollbar { width: 1vw; @include for-size(phone-only) { display: none; } }

::-webkit-scrollbar-track { background: $third-accent; @include for-size(phone-only) { display: none; } }  

::-webkit-scrollbar-thumb {
    &:hover { background: $alp-color; }
    background: $alp-contrast; 
    @include for-size(phone-only) { display: none; } }