@import "helper/mixins";
@import "helper/place-val";
@import "helper/animations";

/* WHOLE PAGE */

html {
    font-size: 16px;
    overflow-y: hidden;

    body { 
        @include size-position(auto, 100vh, 0);
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        @include for-size(phone-only) {
        }
    }
}

/* MOBILE SITE */

.mobile-nav {
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    display: none;
    @include for-size(phone-only) { display: block; }
    
    #myLinks {
        display: none;
        position: fixed;
        z-index: 1;
        background-color: $main-text-color;
        width: 100%;
        margin-top: 10vh;

        a {
            color: white;
            text-decoration: none;
            font-size: 8vw;
            display: block;
            padding: 1rem;
        }
    }

    #nav-bar-image { 
        margin: 1rem;
        float: right;
    }
}

.mobile-home { 
    @include flex-box(column, center, center);
    @include size-position(100%, 100%, auto);
    display: none;
    scroll-snap-align: start;
    background-color: black;
    @include for-size(phone-only) {
        display: flex; 
    }

        #mobile-logo {
            width: 80vw;
            margin-top: 5vh;
        }

        #main-text {
        margin-bottom: 5vh;
    
            h2 {
                @include font-style(sans-serif, white, 8vw);
                margin: 1rem 0;
            }

            h1 {
            @include font-style(sans-serif, $secondary-accent, 8vw);
            margin: 1rem 0;
            }
        }
    }

/* DESKTOP SITE */

/* EACH PAGE */

.container {
    @extend %full;
    scroll-snap-align: start;
    overflow: hidden;
}

/* NAV BAR */

.desktop-nav {
    @include flex-box(row center center);
    @include size-position(100%, 7rem, auto);
    position: relative;
    background-color: $main-text-color;
    overflow: hidden;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-image-source: linear-gradient(45deg, $main-text-color, $brand-color, $secondary-accent, $brand-color, $brand-color, $secondary-accent, $brand-color, $main-text-color);
    border-image-slice: 1;
    @include for-size(phone-only) {
        display: none;
    }
    
    .header-side {
        @include flex-box(initial, center, center);
        width: 40vw;

        a { @extend %header-links;
            @include for-size(tablet-down1) {
                font-size: 2rem;
            }    
            @include for-size(tablet-down2) {
                font-size: 1.5rem;
            }
        }
    }
      
    .header-center { 
        @include flex-box(initial, center, center);
        @include size-position(20vw, auto, 0 1.2rem 0 0 );
            
        p {
            @include font-style($main-font, white, 4rem);
            letter-spacing: 2px;
            vertical-align: center;
        }

        #logo-title { 
            width: 21vw;
        }
    }
}

/* LIBRARY */
    

#library {
    @include for-size(phone-only) {
        display: none; }
}

#library nav { z-index: 5;
 }

.library-under-nav { 
    height: calc(100% - 8rem);
    text-align: center;

    h1 {
        @include font-style($main-font, $main-text-color, 1.5rem); 
        margin: 1rem 0 0 0;
        padding: 1rem 0;
        display: inline-block;
    }

    .blue-text { 
        &:hover { color: $secondary-accent; }
        @include font-style($main-font, $brand-color, 1.5rem);
        text-decoration: none;
        transition: color 1s;
    }

    .animation-box {
        @include flex-box(initial, center, center);
        position: relative;
        height: 15rem;

        .white-bg-slide {
            @include animation-pos(100%, 15rem, 1, 3);
            background-color: $background-color;
            animation: slow-slide 4s forwards;
        }

        .staff { @include animation-pos(60rem, 10rem, 1, 1); }

        .logo-notes { 
            @include animation-pos(60rem, 10rem, 1, 2);
            @include flex-box(row, initial, center);
            position: relative;

            .logo { width: 16rem; }

            #note1 { 
                    @include note-style(18rem);
                    animation: note-animation1 3s .5s forwards; }

            #note2 { 
                    @include note-style(26rem); 
                    animation: note-animation2 3s 1s forwards; }

            #note3 { 
                    @include note-style(34rem);
                    animation: note-animation3 3s 1.5s forwards; }

            #note4 { 
                    @include note-style(42rem); 
                    animation: note-animation4 3s 2s forwards; }

            #note5 { 
                    @include note-style(50rem);
                    animation: note-animation5 3s 3s forwards; }
            }
        }

    .below-animation { position: relative; 

        .white-bg-slide {
            @include animation-pos(100%, 100%, 1, 3);
            background-color: $background-color;
            animation: slow-slide 3s 5s forwards;
        }
        
        p {
            @include font-style($secondary-font, $main-text-color, 1.5rem);
            @include size-position(auto, 2rem, 0);

            img { width: 1.5rem; }
        }

        .song-information {
            @include size-position(40rem, 3rem, 1rem auto 2rem auto);
            text-align: center;

            p { 
                padding-top: 1rem; 
                display: inline-block;
            }

            #song-switch-title {
                @include font-style($secondary-font, $brand-color, 1rem);
                margin-right: 1rem;
            }

            #song-switch-album {
                @include font-style($secondary-font, $brand-color, 1rem);
                margin: 0 1rem;
            }
        }
        
        .music-player { 
            @include flex-box (initial, center, center);
            @include size-position(50rem, 3rem, auto);

            .icons {
                &:hover { opacity: 1; }
                width: 3rem;
                opacity: .5;
                transition: opacity .5s;
                margin-right: 1rem;
            }

                #pause { display: block; }
                #play { display: none; }
                #mute { display: none; }
                #volume { display: block; }
            
            .slide-container {
                width: 10rem;

                .slider {
                    appearance: none;
                    width: 100%;
                    background: transparent;
                    height: 2rem;
                }

                input[type=range]::-webkit-slider-runnable-track {
                    &:hover { opacity: 1; }
                    width: 100%;
                    height: .5rem;
                    border-radius: 5px;
                    background: $secondary-accent;
                    opacity: .7;
                    transition: opacity .2s;
                }

                input[type=range]::-ms-track {
                    width: 100%;
                    height: .5rem;
                    border-radius: 5px;
                    background: $secondary-accent;
                    opacity: .7;
                    transition: opacity .2s;
                }

                input[type=range]::-webkit-slider-thumb {
                    @include size-position(1.5rem, 1.5rem, -.5rem 0 0 0);
                    appearance: none;
                    border-radius: 50%;
                    background: $brand-color;
                    cursor: pointer;   
                }

                input[type=range]::-ms-thumb {
                    margin-top: 0;
                }
            }
        }
    }
}

/* APP */

.app-background {
    @include flex-box(initial, center, center);
    position: relative;
    height: calc(100% - 8rem);
    overflow: hidden;
    @include for-size(phone-only) { height: 100%; }

    #box-logo {
        width: 45%;
        opacity: .1;
        @include for-size(phone-only) { width: 90%; }
    }
}

.app-under-nav {
    @include flex-box(row, center, center);
    @include size-position(100%, calc(100% - 10rem), auto);
    position: absolute;
    @include for-size(phone-only) {
        @include flex-box(column, center, center);
        @include size-position(100%, 100%, auto);
    }

    .app-container {
        position: relative;
        @include flex-box(column, center, center);
        margin: 0 15rem 2rem 0;
        text-align: center;
        @include for-size(phone-only) { @include size-position(100%, 40%, 5rem 0 0 0); }

        .text-box { display: inline-block; }
 
            h2  { 
                @include font-style($main-font, $main-text-color, 2.5vw);
                margin: 0 0 2rem 0; 
                display: inline-block;
                @include for-size(phone-only) { @include font-style(sans-serif, $main-text-color, 5vw); }
            }

            #blue-text2 {
                @include font-style($main-font, $brand-color, 2.5vw);
                @include for-size(phone-only) { @include font-style(sans-serif, $secondary-accent, 5vw); }
            }

            p { 
                @include font-style($secondary-font, $main-text-color, 1.5vw); 
                margin: 0;
                @include for-size(phone-only) { @include font-style(sans-serif, $main-text-color, 3.5vw); }
            }
        
            #blue-text { 
                @include font-style($secondary-font, $brand-color, 1.5vw); 
                margin: 0 0 2rem 0;
                @include for-size(phone-only) { @include font-style(sans-serif, $secondary-accent, 3.5vw); }
        }

        .app-links { @include flex-box(row, center, center);

            img { 
                width: 13rem; 
                margin: 1rem; 
                border-radius: 1vw;
                @include for-size(phone-only) { width: 30vw; }
             }
        }
    }
    
    .app-container2 {
        @include flex-box(initial, center, center);
        position: relative;
        @include for-size(phone-only) { @include size-position(100%, 40%, 0 0 3rem 0); }

        #app-screen { width: 17vw; 
        @include for-size(phone-only) { width: 30vw; }
        }
    }
}

/* APP SCREEN ANIMATION */

.app-visible {
    opacity:0;
    transition: opacity 1s;
}
      
.slide {
    animation-name: slide; 
    animation-duration: 1s;
    opacity: 1;
}

/* ABOUT */

#about { background-color: black;

    .about-under-nav {
        @include flex-box(initial, center, initial);
        @include size-position(100vw, calc(100% - 10rem), auto);
        background-color: black;

        video {
            @extend %max;
            outline: none;
        }
    }
}
/* CLIENTS */

.clients-under-nav {
    @include flex-box(initial, center, center);
    @include size-position(100%, calc(100% - 8rem), auto);
    overflow: hidden;
    @include for-size(phone-only) { height: 100%; }

    #client-pic {
        max-width: 100%;
        width: 75%;
        transition: width 1s;
        @include for-size(phone-only) { display: none; }
    }

    .client-grow {
        animation-name: grow;
        animation-duration: 2s;
    }
    
    #client-pic-small {
        width: 100%;
        max-height: 75%;
        display: none;
        margin-top: 4rem;
        @include for-size(phone-only) { display: block; }
    }

    .client-small-grow {
        animation-name: small-grow;
        animation-duration: 2s;
    }
}

/* TEAM */

#team {

.mobile-team {
    display: none;
    @include for-size(phone-only) { 
        @include flex-box(initial, initial, center);
        @include size-position(100%, 100vh, auto);
        background-color: black;
        overflow-y: hidden;
        max-height: 100vh;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        .m-team-pic-container {
            @include size-position(100%, auto, 4rem 0 6rem 0);
            scroll-snap-align: start;
            pointer-events: none;
            min-width: 100%;
            max-height: 75%;
        .m-team-pic {
            width: 100%;
        }


            p { 
                @include font-style(sans-serif, white, 1.5rem);
            }
        }
    }
}

.full-team-under-nav { 
    display: block;
    @include for-size(phone-only) { display: none; }
     
    .learn-more {
        @include flex-box(row, center, center);
        @include size-position(100%, 8vh, 0);
        @include font-style($main-font, $main-text-color, 1vw);

        .blue-text { color: $brand-color; }
    }

    .team-under-nav {
        @include flex-box(column, center, center, nowrap);
        @include size-position(100%, 75%, auto);
        position: relative;
        overflow: hidden;

        .team-photo-container { @include flex-box(row, center, center);
            
            #darrell-animation, #nick-animation, #dave-animation {
                flex-direction: column;
                min-height: 100%;
            
                #darrell, #nick, #dave  { 
                    @include size-position(24.2vw, auto, 0 1em);
                    cursor: pointer;
                    max-width: 100%;
                }

                .name { 
                    @include flex-box(row, center, center);
                    @include font-style($secondary-font, $main-text-color, 1.8vw); }
            }
                
                .blue-text {
                    @include font-style($main-font, $brand-color, 1.8vw);
                    font-style: italic;
                    margin: 0; 
                }

            #darrell-info, #nick-info, #dave-info {
                @include font-style($secondary-font, $main-text-color, 1.8vw);
                width: 40rem;
                max-width: 50vw;
                max-height: 20vw;

                .blue-text { 
                    @include font-style($secondary-font, $brand-color, 1.8vw);
                    margin: 0;
                    display: inline-block;
                }
            }
            
            .hidden { display: none; }
            }
        }
    }
}

/* Contact */

.contact-under-nav {
    @include flex-box(column, center, center);
    overflow: hidden;
    text-align: center;
    font-size: 1.5rem;
    margin-top: .5rem;

    form { 
        max-width: 90%;
        @include for-size(phone-only) { margin-top: 5rem; }
   
        label {
            margin: 0;
            font-family: $main-font;
        }

        input[type=text] {
            &:focus { border: $contact-border }
            @extend %form-param;
            @include for-size(phone-only) { width: 90vw; }
        }

        input[type=email] {
            &:focus { border: $contact-border }
            @extend %form-param;
            @include for-size(phone-only) { width: 90vw; }
        }

        textarea {                 
            @extend %form-param; 
            height: 15vh;
            &:focus { border: $contact-border } 
            @include for-size(phone-only) { width: 90vw; }
        }

        button[type=submit] {
            &:hover { background-color: $secondary-accent; }
            &:active { 
                margin-top: 1rem; 
                margin-bottom: .5rem; 
                box-shadow: 0px 0px; 
            }
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 0px 8px 9px 0px;
            @extend %form-param;
            width: 15rem;
            margin: .5rem 0 1rem 0;
            background-color: white;
            @include for-size(phone-only) { height: 5rem; }
        }
    }

    .links {
        text-align: center;
        margin-bottom: 2em;
        

        .small-link {
            &:hover { width: 6rem; }
            display: inline-block;
            width: 5rem;
            transition: width 1s;
        }
    }
}


/* Scrollbar */


::-webkit-scrollbar { 
    width: 1vw;
    @include for-size(phone-only) {
        display: none;
     }

 }
::-webkit-scrollbar-track { background: $third-accent; }  
::-webkit-scrollbar-thumb { background: $brand-color; &:hover { background: $secondary-accent; } }

::-ms-scrollbar { width: 1vw; }
::-ms-scrollbar-track { background: $third-accent; }
::-ms-scrollbar-thumb { background: $brand-color; &:hover { background: $secondary-accent; } }