/* MIXIN */

@mixin flex-box(
  $flex-direction: initial,
  $justify-content: initial,
  $align-items: initial,
  $flex-wrap: initial
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

@mixin animation-pos($width, $height, $opacity: 1, $z-index: 0) {
  position: absolute;
  width: $width;
  height: $height;
  opacity: $opacity;
  z-index: $z-index;
}

@mixin note-style($left) {
  &:hover {
    width: 6rem;
  }
  left: $left;
  width: 5rem;
  transform: translateY(-100vh);
  position: absolute;
  opacity: 0;
  transition: width 1s;
  cursor: pointer;
}

@mixin size-position($width, $height, $margin: auto, $position: static) {
  width: $width;
  height: $height;
  margin: $margin;
  position: $position;
}

@mixin font-style($family, $color, $size, $align: center) {
  font-family: $family;
  color: $color;
  font-size: $size;
  text-align: $align;
}

@mixin for-size($size) {
  @if $size == mobile {
    @media (max-width: 1025px) {
      @content;
    }
  } @else if $size == tablet-land {
    @media (max-width: 1025px) and (orientation: landscape) {
      @content;
    }
  } @else if $size == phone-port {
    @media (max-width: 550px) and (orientation: portrait) {
      @content;
    }
  } @else if $size == phone-land {
    @media (max-width: 850px) and (orientation: landscape) {
      @content;
    }
  } @else if $size == tablet-port {
    @media (max-width: 1025px) and (orientation: portrait) {
      @content;
    }
  } @else if $size == tablet-down2 {
    @media (max-width: 1400px) {
      @content;
    }
  } @else if $size == tablet-down1 {
    @media (max-width: 1600px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 2000px) {
      @content;
    }
  }
}
